@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplication2.Models.Employee
<h1>Welcome to Employee Controller</h1>
<p><b>Examples of Loops and Conditions in Razor</b></p>

@{
    // For loop
    <h2>For Loop</h2>
    for (int i = 0; i < 5; i++)
    {
        <p>Value of i (for loop) is @i</p>
    }

    // While loop
    <h2>While Loop</h2>
    int j = 0;
    while (j < 5)
    {
        <p>Value of j (while loop) is @j</p>
        j++;
    }

    // Do-while loop
    <h2>Do-While Loop</h2>
    int k = 0;
    do
    {
        <p>Value of k (do-while loop) is @k</p>
        k++;
    } while (k < 10);

    // If condition
    <h2>If Condition</h2>
    int number = 7;
    if (number % 2 == 0)
    {
        <p>@number is Even</p>
    }
    else
    {
        <p>@number is Odd</p>
    }

    // Switch case
    <h2>Switch Case</h2>
    int day = 3;
    switch (day)
    {
        case 1:
            <p>Day is Monday</p>
            ;
            break;
        case 2:
            <p>Day is Tuesday</p>
            ;
            break;
        case 3:
            <p>Day is Wednesday</p>
            ;
            break;
        default:
            <p>Other Day</p>
            break;
    }

  
}

<h1> Employee Details</h1>
<p> Employee id is @Model.empid</p>
<p> Employee firstname is @Model.Firstname</p>
<p> Employee lastname is @Model.lastname</p>
<p> Employee city is @Model.city</p>